h1.title {
	font-size: 45px;
	border-bottom: 5px solid #ececec;
	margin: 50px 0;
	padding: 15px 0;
	text-align: center;
}

div.content {
	padding: 15px;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 1.5;
}
