.blogTitleContainer {
	padding: 10px 10px;
	border: 2px solid #000;
	margin: 10px 0;
	text-align: center;

	h1 {
		a {
			display: block;
			width: 100%;
			background: #000;
			color: #fff;
			height: 100%;
			padding: 20px 0;
			cursor: pointer;
			transition: all .5s ease-in-out;
			text-decoration: none;
			&:hover {
				color: #50e21a;
			}
		}
	}
}
