._header {
  height: 70px;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 25px 25px;
  margin: 0 auto;

  ul {
    display: flex;
    justify-content: center;
    li {
      list-style-type: none;
      a {
        padding: 5px 15px;
        color: #000;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;

        &.active {
          color: red;
        }

        &:hover {
          color: red;
        }
      }
    }
  }
}
